@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

@keyframes cloud-move {
  0% {
    transform: translateX(-100vw);
  }
  100% {
    transform: translateX(200vw); /* Move fully across and off-screen right */
  }
}